{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

    <h1 class="text-center">Company Detail</h1>
    <div class="col-md-offset-3 col-md-6">

        {% if error %}
        {% for errors in error %}
        <p class="text-danger">{{ errors }}</p>
        {% endfor %}
        {% endif %}

        <form class="form-login custom-form-login" method="post" action="/web/add_company/" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group">
                <label for="company_name">Company Name:</label>
                {{ form.company_name|attr:"class:form-control"|attr:"id:company_name"|attr:"type:text"|attr:"style:text-transform:uppercase"|attr:"required:true"|attr:"autocomplete:off" }}
            </div>
            <div class="form-group">
                <label for="id_where_heard_abt_us">Where you heard about us ?:</label><br>
                {{ form.where_heard_abt_us|attr:"class:form-control"|attr:"autocomplete:off"}}

            </div>
            <div class="form-group">
                <label for="company_email">Company Email:</label><br>
                {{ form.company_email|attr:"class:form-control"|attr:"type:email"|attr:"required:true"|attr:"autocomplete:off" }}
            </div>

            <div class="form-group">
                <label for="id_company_phone_no">Company Phone No (XXXXXXXXXX):</label>
                {{ form.company_phone_no|attr:"class:form-control"|attr:"required:true"|attr:"autocomplete:off"|attr:"type:text"|attr:"maxlength:10"|attr:"pattern:[789][0-9]{9}"|attr:"title:The given phone number is not valid indian mobile no."}}
            </div>
            <div id="lower text-center">
                <br>
                <button class="btn ladda-button btn-theme btn-block" data-style="slide-right" style="color: #2A3542"><span class="ladda-label">Submit</span></button>
            </div>
            <br><br>

            <div class="text-center">
                Already Registered ?<br/>
                <p ><a href="/">Click Here to Login</a></p>
            </div>
            {% csrf_token %}
        </form>

    </div>
    {% endblock %}





