{% extends 'base.html' %}

{% block custom_style %}
{% endblock %}


{% block content%}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <form id="change_password_form" action="/account/change-password/" method="post">
      {%csrf_token%}
      <div class="row">
        <div class="col-xs-11">
          <label for="id_old_password">Old Password:</label>
          <input class="form-control" id="id_old_password" type="password" name="old_password" required>
          <p class="text-danger" id="old_password_error"></p>
          <p class="text-success" id="old_password_message"></p>
        </div>
        <div class="col-xs-1">
          <br>
          <img src="/static/gif/ajax-loader.gif" id="loader_old_password" hidden>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-11">
          <label for="id_password">New Password:</label>
          <input class="form-control" id="id_password" type="password" name="password" required>
          <p class="text-danger" id="password_error"></p>
        </div>
        <div class="col-xs-1">
          <br>
          <img src="/static/gif/ajax-loader.gif" hidden>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-11">
          <label for="id_confirm_password">Confirm Password:</label>
          <input class="form-control" id="id_confirm_password" type="password" name="confirm_password" required>
          <p class="text-danger" id="confirm_password_error"></p>
        </div>
        <div class="col-xs-1">
          <br>
          <img src="/static/gif/ajax-loader.gif" hidden >
        </div>
      </div>
      <input class="form-control" type="submit" name="submit" value="submit">
    </row>
  </form>
</div >

<div class="col-md-3">
</div>
</div>
{% endblock%}

{% block custom_script %}
<script>
var old_password_check = false;
var new_password_check = false;
var confirm_password_check = false;

$("#id_old_password").blur(function(){
  $("#old_password_error" ).text( "" );
  $("#old_password_message" ).text( "" );

  if ($("#id_old_password").val() == ""){
    $("#old_password_error").text("You can't leave this empty.")
  }else {
    $("#loader_old_password").show();
    $.post("/account/check-password-ajax/",{
      'csrfmiddlewaretoken' : getCookie('csrftoken'),
      'old_password' : $("#id_old_password").val() },
      function(data, status){
        $("#loader_old_password").hide();
        if (data == 'True'){
          $("#id_old_password").prop("readonly", true);
          // $("#id_old_password").attr('disabled','disabled');
          $("#old_password_error" ).text( "" );
          $("#old_password_message" ).text( "Old Password Verified" );
          old_password_check = true;
        }else {
          $("#old_password_message" ).text( "" );
          $("#old_password_error" ).text( "Old password is incorrect." );
        }
      });
    }
  });

  $("#id_password").blur(function(){
    new_password_check = false;
    if ($("#id_password").val() == ""){
      $("#password_error").text("You can't leave this empty.")
    }else{
      if ($("#id_password").val().length < 8){
        $("#password_error" ).text( "New Password must contain atleast 8 characters" );
      }else {
        new_password_check = true;
        $("#password_error" ).text( "" );
      }
    }
  });

  $("#id_confirm_password").blur(function(){
    confirm_password_check = false;
    if ($("#id_confirm_password").val() == ""){
      $("#confirm_password_error").text("You can't leave this empty.")
    }else {
      if($("#id_confirm_password").val() != $("#id_password").val()){
        $("#confirm_password_error").text("New password and confirm password do not match.")
      }else {
        $("#confirm_password_error" ).text( "" );
        confirm_password_check = true;
      }
    }
  });

  $('#change_password_form').submit(function(e) {
    if ($("#id_password").val() == $("#id_old_password").val()){
      e.preventDefault();
      alert('Old password and new password can not be same');
      $("#id_password").val("");
      $("#id_confirm_password").val("");
      $("#password_error" ).text( "Old password and new password can not be same" );
    }else{
      if (!(old_password_check && new_password_check && confirm_password_check)){
        e.preventDefault();
        alert('Invalid form. Please reslove the errors.')
      }
    }
  });
  </script>
  {% endblock %}
