{% block main_area%}

<style media="screen">
  .form-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
        justify-content: center;
    -webkit-align-items: center;
        -moz-align-items: center;
            align-items: center;
            width: 100%
  }
</style>

<div class="form-container">
  <div class="col-md-7">
    <div class="box">
      <div class="box-header">
        <h2>Change Password</h2>
        <small>Fill the form to change your password</small>
      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body">

        <form role="form" id="change_password_form" action="/account/change-password/" method="post">
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 form-control-label">Old Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="id_old_password" placeholder="Old password">
              <img src="/static/gif/ajax-loader.gif" id="loader_old_password" hidden>
              <p class="text-danger" id="old_password_error"></p>
              <p class="text-success" id="old_password_message"></p>
            </div
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 form-control-label">Old Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="id_password" placeholder="New password">
              <img src="/static/gif/ajax-loader.gif" id="loader_password" hidden>
              <p class="text-danger" id="password_error"></p>
              <p class="text-success" id="password_message"></p>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 form-control-label">Old Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="id_confirm_password" placeholder="Confirm password">
              <img src="/static/gif/ajax-loader.gif" id="loader_confirm_password" hidden>
              <p class="text-danger" id="confirm_password_error"></p>
              <p class="text-success" id="confirm_password_message"></p>
            </div>
          </div>

          <div class="form-group row m-t-md">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn white">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
</div>

<script>
var old_password_check = false;
var new_password_check = false;
var confirm_password_check = false;

$("#id_old_password").blur(function(){
  $("#old_password_error" ).text( "" );
  $("#old_password_message" ).text( "" );

  if ($("#id_old_password").val() == ""){
    $("#old_password_error").text("You can't leave this empty.")
  }else {
    $("#loader_old_password").show();
    $.post("/account/check-password-ajax/",{
      'csrfmiddlewaretoken' : getCookie('csrftoken'),
      'old_password' : $("#id_old_password").val() },
      function(data, status){
        $("#loader_old_password").hide();
        if (data == 'True'){
          $("#id_old_password").prop("readonly", true);
          // $("#id_old_password").attr('disabled','disabled');
          $("#old_password_error" ).text( "" );
          $("#old_password_message" ).text( "Old Password Verified" );
          old_password_check = true;
        }else {
          $("#old_password_message" ).text( "" );
          $("#old_password_error" ).text( "Old password is incorrect." );
        }
      });
    }
  });

  $("#id_password").blur(function(){
    new_password_check = false;
    if ($("#id_password").val() == ""){
      $("#password_error").text("You can't leave this empty.")
    }else{
      if ($("#id_password").val().length < 8){
        $("#password_error" ).text( "New Password must contain atleast 8 characters" );
      }else {
        new_password_check = true;
        $("#password_error" ).text( "" );
      }
    }
  });

  $("#id_confirm_password").blur(function(){
    confirm_password_check = false;
    if ($("#id_confirm_password").val() == ""){
      $("#confirm_password_error").text("You can't leave this empty.")
    }else {
      if($("#id_confirm_password").val() != $("#id_password").val()){
        $("#confirm_password_error").text("New password and confirm password do not match.")
      }else {
        $("#confirm_password_error" ).text( "" );
        confirm_password_check = true;
      }
    }
  });

  $('#change_password_form').submit(function(e) {
    if ($("#id_password").val() == $("#id_old_password").val()){
      e.preventDefault();
      alert('Old password and new password can not be same');
      $("#id_password").val("");
      $("#id_confirm_password").val("");
      $("#password_error" ).text( "Old password and new password can not be same" );
    }else{
      if (!(old_password_check && new_password_check && confirm_password_check)){
        e.preventDefault();
        alert('Invalid form. Please reslove the errors.')
      }
      else{
        e.preventDefault();
        $.post("/account/change-password/",{
          'csrfmiddlewaretoken' : getCookie('csrftoken'),
          'old_password' : $("#id_old_password").val(),
          'password' : $("#id_password").val(),
          'confirm_password' : $("#id_confirm_password").val() },
          function(data, status){
            // $("#loader_old_password").hide();
            if (data == 'True'){
              alert('password_changed');
              window.location.href = '/dashboard/';
            }else {
              alert('server error');
            }
          });
        }
      }
    });
  </script>
{% endblock %}
