{% extends "base1.html"%}
{% load widget_tweaks %}
{% block custom_style %}
{% endblock %}



{% block content %}

<section class="login-section img-section">
  <div class="row">
    <div class="col-md-6 hidden-xs">
      <!--<h1>Nexus</h1>-->
      <div class="row">
        <div class="col-xs-12">
          <h1 class="bg-white text-center oil-title">Oil and Gas</h1>
          <!--<h3 class="bg-white">Login With Social Media</h3>-->
          <!--<ul class="social-connect">-->
          <!--<li><a href=""><i class="fa fa-facebook"></i></a></li>-->
          <!--<li><a href=""><i class="fa fa-twitter"></i></a></li>-->
          <!--<li><a href=""><i class="fa fa-google-plus"></i></a></li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
    <div class="col-md-6 login-form register-padding">
      <h3>Register</h3>
      <form id="form"  action="/create-user-and-claim-company/" method="post" enctype="multipart/form-data">
        {% if error %}
        {% for errors in error %}
        <p class="text-danger">{{ errors }}</p>
        {% endfor %}
        {% endif %}
        {% csrf_token %}

        <label for="company_name">Select The Company Name:</label>
        <input class="form-control" type="text" name="company_name" id="company_name" autocomplete="off" />
        <br>
        <a href="/create-user-and-company">Register your company is it not present in the link</a>
        <div id="user_form">


          {% csrf_token %}

          <div class="f-input-group">
            <label  for="name">Name</label>
            <input type="text" id="name" class="float-input" placeholder="Enter your name">
          </div>

          <div class="form-group">
            <label class="float-label" for="first_name">First Name:</label>
            {{ user_form.first_name|attr:"class:form-control"|attr:"id:first_name"|attr:"type:text"|attr:"style:text-transform:uppercase"|attr:"required:true"|attr:"autocomplete:off" }}
          </div>

          <div class="form-group">
            <label for="last_name">Last Name:</label>
            {{ user_form.last_name|attr:"class:form-control"|attr:"id:last_name"|attr:"type:text"|attr:"style:text-transform:uppercase"|attr:"required:true"|attr:"autocomplete:off" }}
          </div>

          <div class="form-group">
            <label for="id_gender">Gender:</label>
            {{ user_form.gender|attr:"class:form-control"|attr:"required:true"|attr:"autocomplete:off"}}
          </div>

          <div class="form-group">
            <label for="id_dob">Date of birth:</label>
            {{user_form.dob|attr:"class:form-control"|attr:"type:date"|attr:"required:true"|attr:"autocomplete:off"}}
          </div>

          <div class="form-group">
            <label for="user_email">User Email:</label><br>
            {{ user_form.user_email|attr:"class:form-control"|attr:"type:email"|attr:"required:true"|attr:"autocomplete:off" }}
          </div>

          <div class="form-group">
            <label for="id_user_phone_no">User Phone No (XXXXXXXXXX):</label>
            {{ user_form.user_phone_no|attr:"class:form-control"|attr:"required:true"|attr:"autocomplete:off"|attr:"type:text"|attr:"maxlength:10"|attr:"pattern:[789][0-9]{9}"|attr:"title:The given phone number is not valid indian mobile no."}}
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            {{ user_form.password|attr:"class:form-control"|attr:"type:password"|attr:"required:true"|attr:"autocomplete:off" }}
          </div>


          <div class="form-group">
            <label for="password">Confirm Password:</label>
            {{ user_form.confirm_password|attr:"class:form-control"|attr:"type:password"|attr:"required:true"|attr:"autocomplete:off" }}
          </div>


          <div class="row">
            <div class="col-md-12">
              <p class="m-10">
                <a href="login.html" class="m-10 text-color">Already Registered ? <span class="signup">Login Here</span></a>
              </p>
            </div>
          </div>
          <button class="btn register-btn pull-left" style="background: #feee41;color: #484848"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;
            Register
          </button>
          <!--<div class="row visible-xs">-->
          <!--<div class="col-xs-12">-->
          <!--<h3>Login With Social Media</h3>-->
          <!--<ul class="social-connect">-->
          <!--<li><a href=""><i class="fa fa-facebook"></i></a></li>-->
          <!--<li><a href=""><i class="fa fa-twitter"></i></a></li>-->
          <!--<li><a href=""><i class="fa fa-google-plus"></i></a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <!--</div>-->
        </form>
      </div>

    </div>
  </section>
  {% endblock %}

  {% block custom_script %}
  <script>
  document.getElementById("user_form").style.visibility = 'hidden';
  $(document).ready(function () {
    $("#company_name").keypress(function () {
      var value_l = $("#company_name").val();
      if (value_l.length >= 1) {
        $.get("/get-company", function (data) {
          var $input = $('#company_name');
          $input.typeahead({
            source: data, autoSelect: false, displayText: function (item) {
              return item;
            }, afterSelect: function (current) {

              document.getElementById("user_form").style.visibility = 'visible';
              document.getElementById("company_name").readOnly = true;
              // document.getElementById("company_name").disabled = true;

            }
          });
        }, 'json');
      }
    });
  });
  </script>
  {% endblock %}
