{% extends "base.html" %}
{% load widget_tweaks %}



{% block content %}

<hi>This is Dashboard page</h1>
<br><br>

{% if message %}
<p style="color:green; font-size:125%">{{ message }}</p>
{% endif %}

{% if error %}
<p style="color:red; font-size:125%">{{ error }}</p>
{% endif %}

<br><br>
<a href="/web/logout">Logout</a><br><br>
<a href="/web/dashboard">Dashboard</a><br><br><br><br>
<a href="/web/free_field">Free Fields</a><br><br><br><br>
<h1>Premium Fields</h1><br><br>
<a href="/web/basic_premium_field">Basic Premium Fields</a><br><br>
<a href="/web/gallery">Click To add Gallery Images</a><br><br>

<a href="/web/brochure">Click add Brochure Brochure</a><br><br>
<a href="/web/video_link">Click To Add Video Link</a><br><br>
<a href="/web/location">Click to add you different Locations</a><br><br>
<a href="/web/certification">Click to add your certifications</a><br><br>
<a href="/web/social_link">Click to Add your social Links</a><br><br>


{% endblock %}
