{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-offset-3 col-md-6 ">

      <h3 class="text-center">Claim Your Company</h3>


      <form id="form"  action="/web/create_user_and_claim_company/" method="post" enctype="multipart/form-data" >

        {% if error %}
        {% for errors in error %}
        <p class="text-danger">{{ errors }}</p>
        {% endfor %}
        {% endif %}
        {% csrf_token %}

        <div class="form-group text-center">

          <label for="company_name">Select The Company Name:</label>
          <input class="form-control" type="text" name="company_name" id="company_name" autocomplete="off" />
          <br>
          <a href="/web/create_user_and_company">Register your company is it not present in the link</a>
          <div id="user_form">

            <div class="col-md-offset-3 col-md-8">
              <h3 class="text-center">User Details</h3>

              {% csrf_token %}

              <div class="form-group">
                <label for="first_name">First Name:</label>
                {{ user_form.first_name|attr:"class:form-control"|attr:"id:first_name"|attr:"type:text"|attr:"style:text-transform:uppercase"|attr:"required:true"|attr:"autocomplete:off" }}
              </div>

              <div class="form-group">
                <label for="last_name">Last Name:</label>
                {{ user_form.last_name|attr:"class:form-control"|attr:"id:last_name"|attr:"type:text"|attr:"style:text-transform:uppercase"|attr:"required:true"|attr:"autocomplete:off" }}
              </div>

              <div class="form-group">
                <label for="id_gender">Gender:</label>
                {{ user_form.gender|attr:"class:form-control"|attr:"required:true"|attr:"autocomplete:off"}}
              </div>

              <div class="form-group">
                <label for="id_dob">Date of birth:</label>
                {{user_form.dob|attr:"class:form-control"|attr:"type:date"|attr:"required:true"|attr:"autocomplete:off"}}
              </div>

              <div class="form-group">
                <label for="user_email">User Email:</label><br>
                {{ user_form.user_email|attr:"class:form-control"|attr:"type:email"|attr:"required:true"|attr:"autocomplete:off" }}
              </div>

              <div class="form-group">
                <label for="id_user_phone_no">User Phone No (XXXXXXXXXX):</label>
                {{ user_form.user_phone_no|attr:"class:form-control"|attr:"required:true"|attr:"autocomplete:off"|attr:"type:text"|attr:"maxlength:10"|attr:"pattern:[789][0-9]{9}"|attr:"title:The given phone number is not valid indian mobile no."}}
              </div>

              <div class="form-group">
                <label for="password">Password:</label>
                {{ user_form.password|attr:"class:form-control"|attr:"type:password"|attr:"required:true"|attr:"autocomplete:off" }}
              </div>


              <div class="form-group">
                <label for="password">Confirm Password:</label>
                {{ user_form.confirm_password|attr:"class:form-control"|attr:"type:password"|attr:"required:true"|attr:"autocomplete:off" }}

              </div>

              <div id="lower text-center">
                <br>
                <button class="btn ladda-button btn-theme btn-block" data-style="slide-right" style="color: #2A3542"><span class="ladda-label">Submit</span></button>
              </div>
              <br><br>

              <div class="text-center">
                Already Registered ?<br/>
                <p ><a href="/">Click Here to Login</a></p>
              </div>
              {% csrf_token %}


            </div>
          </div>


        </form>
      </div>
    </div>




    {% block custom_script %}

    <script>
    document.getElementById("user_form").style.visibility = 'hidden';
    $(document).ready(function () {
      $("#company_name").keypress(function () {
        var value_l = $("#company_name").val();
        if (value_l.length >= 1) {
          $.get("/web/get_company", function (data) {
            var $input = $('#company_name');
            $input.typeahead({
              source: data, autoSelect: false, displayText: function (item) {
                return item;
              }, afterSelect: function (current) {

                document.getElementById("user_form").style.visibility = 'visible';
                document.getElementById("company_name").readOnly = true;
                // document.getElementById("company_name").disabled = true;

              }
            });
          }, 'json');
        }
      });
    });
    </script>

    {% endblock %}
    {% endblock content %}
  </body>
  </html>
